<section class="sectioncontainer">
  <div class="container" id="container" #container>
    <div class="form-container sign-in-container">
      <form [formGroup]="DataGuestRegisterForm" (ngSubmit)="submitRegistrationGuest()">
        <h3>Création compte</h3>
        <input type="text" placeholder="Nom" formControlName="name" />
        <div class="error-list" *ngIf="fcGuest['name'].errors && isSubmitted">
          <div *ngIf="fcGuest['name'].errors['required']">Ce champ ne doit pas être vide.</div>
          <div *ngIf="fcGuest['name'].errors['minlength']">Nom trop court.</div>
        </div>

        <div class="select-container">
          <select formControlName="role">
            <option value="" disabled selected hidden>Choisissez votre rôle</option>
            <option value="enseignant">Enseignant</option>
            <option value="etudiant">Étudiant</option>
          </select>
        </div>

        <div *ngIf="fcGuest['role'].value === 'enseignant'">
          <input type="text" placeholder="Spécialisation" formControlName="specialisation" />
        </div>

        <div *ngIf="fcGuest['role'].value === 'etudiant'">
          <input type="text" placeholder="Matricule" formControlName="matricule" />
        </div>

        <input type="email" placeholder="Email" formControlName="email" />
        <div class="error-list" *ngIf="fcGuest['email'].errors && isSubmitted">
          <div *ngIf="fcGuest['email'].errors['required']">Ce champ ne doit pas être vide.</div>
          <div *ngIf="fcGuest['email'].errors['email']">Email invalide.</div>
        </div>

        <input type="password" placeholder="Mot de passe" formControlName="password" />
        <div class="error-list" *ngIf="fcGuest['password'].errors && isSubmitted">
          <div *ngIf="fcGuest['password'].errors['required']">Ce champ ne doit pas être vide.</div>
        </div>

        <input type="password" placeholder="Confirmer Mot de passe" formControlName="confirmPassword" />
        <div class="error-list" *ngIf="fcGuest['confirmPassword'].errors && isSubmitted">
          <div *ngIf="fcGuest['confirmPassword'].errors['required']">Ce champ ne doit pas être vide.</div>
          <div *ngIf="fcGuest['confirmPassword'].errors['passwordsMatch']">Les mots de passe ne correspondent pas.</div>
        </div>

        <button type="submit">Créer un compte</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h2>Vous possédez déjà un compte</h2>
          <a routerLink="/formLogin"><button class="ghost" id="signUp">Se connecter</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
