<div class="agenda-container">
  <h1>Agenda</h1>

  <div>
    <h5 class="my-3">{{guest?.nom}}</h5>
  </div>

  <div class="calendar-header">
    <button (click)="previousWeek()">Semaine précédente</button>
    <button (click)="nextWeek()">Semaine suivante</button>
  </div>
<div *ngIf="!guest.matricule">
  <button class="btn btn-primary my-3" (click)="redirectToPlanning() " >Ajouter un créneau</button>
</div>
 

  <mwl-calendar-week-view 
    [viewDate]="viewDate" 
    [events]="events"
    (eventClicked)="handleEventClick($event.event)">
  </mwl-calendar-week-view>

  <div class="event-details-panel" *ngIf="selectedEvent">
    <h2>Détails de l'événement</h2>
    <p><strong>Titre:</strong> {{ selectedEvent.title }}</p>
    <p><strong>Début:</strong> {{ selectedEvent.start | date:'medium' }}</p>
    <p><strong>Fin:</strong> {{ selectedEvent.end | date:'medium' }}</p>
    <p><strong>Description:</strong> {{ selectedEvent.meta.description }}</p>
    <button (click)="closeEventDetails()">Fermer</button>
  </div>
</div>
