<section class="sectioncontainer">
  <div class="container" id="container" #container>
    <div class="form-container sign-up-container">
      <form [formGroup]="DataGuestRegisterForm" (ngSubmit)="submitRegistrationGuest()">
        <h1>Création compte Enseignant</h1>
        <input type="text" placeholder="Nom" formControlName="name" />
        <div class="error-list" *ngIf="fcGuest['name'].errors && isSubmitted">

          <div *ngIf="fcGuest['name'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcGuest['name'].errors['name']"> nom trop court. </div>
        </div>

        <input type="text" placeholder="Entreprise" formControlName="company" />
        <div class="error-list" *ngIf="fcGuest['company'].errors && isSubmitted">

          <div *ngIf="fcGuest['company'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcGuest['company'].errors['company']"> nom trop court. </div>
        </div>


        <input type="email" placeholder="Email" formControlName="email" />
        <div class="error-list" *ngIf="fcGuest['email'].errors && isSubmitted">

          <div *ngIf="fcGuest['email'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcGuest['email'].errors['email']"> email trop court. </div>
        </div>



        <input type="password" placeholder="Mot de passe" formControlName="password" />
        <div class="error-list" *ngIf="fcGuest['password'].errors && isSubmitted">

          <div *ngIf="fcGuest['password'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcGuest['password'].errors['password']"> mot de passe trop court. </div>
        </div>

        <input type="password" placeholder="Confirmer Mot de passe" formControlName="confirmPassword" />
        <div class="error-list" *ngIf="fcGuest['confirmPassword'].errors && isSubmitted">

          <div *ngIf="fcGuest['confirmPassword'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcGuest['confirmPassword'].errors['confirmPassword']"> mot de passe trop court. </div>
        </div>

        <button>Créer un compte Enseignant</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="DataStudentRegisterForm" (ngSubmit)="submitRegistrationStudent()">
        <h1>Création compte Etudiant</h1>
        <input type="number" placeholder="Numéro etudiant" formControlName="numberStudent" />

        <div class="error-list" *ngIf="fcStudent['numberStudent'].errors && isSubmitted">

          <div *ngIf="fcStudent['numberStudent'].errors['required']"> Ce champ ne doit pas etre vide. </div>

          <div *ngIf="fcStudent['numberStudent'].errors['numberStudent']"> Identifiant trop court. </div>
        </div>

        <input type="text" placeholder="Nom" formControlName="name" />
        <div class="error-list" *ngIf="fcStudent['name'].errors && isSubmitted">

          <div *ngIf="fcStudent['name'].errors['required']">Ce champ ne doit pas etre vide. </div>

        </div>

        <input type="password" placeholder="Mot de passe" formControlName="password" />
        <div class="error-list" *ngIf="fcStudent['password'].errors && isSubmitted">

          <div *ngIf="fcStudent['password'].errors['required']">Ce champ ne doit pas etre vide. </div>

        </div>
        <input type="password" placeholder="Confirmer Mot de passe" formControlName="confirmPassword" />
        <div class="error-list" *ngIf="fcStudent['confirmPassword'].errors && isSubmitted">

          <div *ngIf="fcStudent['confirmPassword'].errors['required']">Ce champ ne doit pas etre vide. </div>

        </div>


        <button>Créer un compte Etudiant </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Vous êtes étudiant ?</h1>
          <p>Créer un compte étudiant !</p>
          <button class="ghost" id="signIn" (click)="leftpanelactive(container)">Création compte étudiant</button>
          <p>Vous possédez déjà un compte ?</p>
          <a routerLink="/formLogin"><button class="ghost" id="signUp">Se connecter</button></a>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Vous êtes extérieur à l'école ?</h1>
          <p>Créez un compte Enseignant !</p>
          <button class="ghost" id="signUp" (click)="rightpanelactive(container)">Création compte Enseignant</button>
          <p>Vous possédez déjà un compte ?</p>
          <a routerLink="/formLogin"><button class="ghost" id="signUp">Se connecter</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
  });


  signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
  });
</script>
